<mat-nav-list>
  <a mat-list-item routerLink="/espace-enqueteur/planning" routerLinkActive="active">
    <mat-icon>calendar_today</mat-icon>
    <span>Mon planning</span>
  </a>
  <a mat-list-item routerLink="/espace-enqueteur/historique" routerLinkActive="active">
    <mat-icon>history</mat-icon>
    <span>Historique</span>
  </a>
  <a mat-list-item routerLink="/espace-enqueteur/password" routerLinkActive="active">
    <mat-icon>lock</mat-icon>
    <span>Mot de passe</span>
  </a>
</mat-nav-list>
