<div class="password-container">
  <h2>Changer mon mot de passe</h2>

  <form>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Mot de passe actuel</mat-label>
      <input matInput type="password" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput type="password" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Confirmer le nouveau mot de passe</mat-label>
      <input matInput type="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="button">Mettre à jour</button>
  </form>
</div>
